
<p>Add your definition here:</p>
<form action="/successdef" method="post">
  <input id="wordId" name="wordId" type="hidden" value="$word.getId()">
  <div class="form-group">
    <label for="definition">Definition</label>
    <input id="definition" name="definition" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add Definition</button>
</form>

<a href="/">Return Home</a>
