<h1>Add a word to the dictionary</h1>

<p>Add your word here:</p>

<form action="/index" method="post">
  <label for="word">Word</label>
  <input id="word" name="word" type="text">
  <button type="submit" class="btn btn-success">Add Word</button>
</form>

<a href="/">Return Home</a>
