<h1>$word.getWord()</h1>

<p>Definitions:</p>

<!-- #if ($definitions) -->
  #foreach ($definition in $definitions)
    <h3>$definition.getDefinition()</h3>
  #end
<!-- #else
  <h2>No definitions yet!</h2>
#end -->
<a href="/$word.getId()/definitions/new">Add a new definition</a>
<a href="/">Return Home</a>
