<h1>$word.getWord()</h1>
<br>
<p>Definitions:</p>
#foreach ($definition in $definitions)
  <h3>$definition.getDefinition()</h3>
#end

<a href="/$word.getId()/definitions/new">Add a new definition</a><br>
<a href="/">Return Home</a>
